/* Basic Config
-------------------- */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900&display=swap');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #0c0d17;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.4;
}

/* Responsive */
@media (max-width: 768px) {
  html { font-size: 9px; }
  .back-btn { font-size: 16px; }
}

/* Back Button */
.back-btn {
  width: 100px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.back-btn svg {
  transition: transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-right: 10px;
}

.back-btn:hover svg {
  transform: translateX(-5px);
}
